<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="AAAAAAAAAAAAAAA" method="post">
          <input name="steam" type="text" class="search" placeholder="enter steamID or username" required>
        </form>
      </fieldset>
    </div>
    <div class="footer">
        <% include partials/footer %>
    </div>
  </body>
</html>